.container{



}

.form{
margin-top: 10px;

border-radius: 7px;
border: 3px double #28e;
margin-bottom: 10px


}

.checkbox{

text-align: center;

}
#topbar{
background-color: #28e;
margin-top: 10px;
box-shadow: 5px 0px 10px;

}
#content{
padding: 10px 10px 10px 10px;

}
#kontener{
border: 5px #28e;
box-shadow: 5px 5px 10px;

}


